/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: "wght" 400;
  background-image: var(--background-fade);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 100px 0;
}

.header {
  width: var(--width);
  min-height: 327px;
  background-color: var(--background-element-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: var(--border);
}

.header__title {
  font-family: var(--font-accent);
  font-size: 49px;
}

.header__text {
  font-family: var(--font-accent);
  text-transform: uppercase;
  font-size: 14px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: var(--width);
}

.card {
  width: var(--width);
  display: flex;
  flex-direction: column;
  align-content: center;
  border: var(--border);
  background-color: var(--background-element-color);
}

.card__title {
  font-family: var(--font-main);
  font-variation-settings: "wght" 785;
  font-size: 18px;
  padding: 4px 10px;
}

.card__image-wrap {
  position: relative;
  aspect-ratio: 1 / 1;
}

.card__image-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  color: var(--text-color-basic);
  text-shadow:
    1px 0 0 #fff,
    0 1px 0 #fff,
    -1px 0 0 #fff,
    0 -1px 0 #fff;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__image-watermark {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__text {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 25px;
  padding: 25px;
  font-family: var(--font-main);
  font-size: 18px;
}

.card__buttons {
  padding: 0 25px 25px 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}

.card__icon-button {
  width: 38px;
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-button-color);
  padding: 0;
  border: 2px solid transparent;
  transition: border-color ease 0.3s;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-accent);
}

.button__text {
  color: #fff;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.text-button {
  position: relative;
  background-color: var(--background-button-color);
  padding: 0;
  border: var(--border);
  font-family: var(--font-accent);
  transition: box-shadow ease 0.3s;
  cursor: pointer;
  font-size: 14px;
}

.text-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--color-accent);
}

.text-button::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-accent);
  scale: 0 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: scale 0.5s ease-in-out;
  transform-origin: left;
}

.text-button:hover::before {
  scale: 1 1;
  transform-origin: left;
  color: #000;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.main__button {
  width: 306px;
  height: 84px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.floppy {
  fill: white;
  mix-blend-mode: difference;
  width: 28px;
  height: 28px;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  width: 341px;
  height: fit-content;
  padding: 30px 40px;
}

.dialog__content {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 20px;
  min-height: 63px;
  line-height: 150%;
}

.dialog__content .floppy {
  width: 39px;
  height: 39px;
}

.dialog__text {
  justify-self: flex-end;
  width: 234px;
  font-size: 14px;
}

.dialog__button {
  min-height: 38px;
  width: 100%;
  align-self: center;
  text-transform: uppercase;
}

.dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@media (width >= 1440px) {
  .header {
    min-height: 368px;
  }

  .header__title {
    font-size: 65px;
  }

  .header__text {
    font-size: 23px;
  }

  .main__button {
    width: 335px;
    height: 55px;
    flex-direction: row;
  }

  .floppy {
    fill: white;
    mix-blend-mode: difference;
    width: 21px;
    height: 21px;
  }

  .dialog {
    width: 353px;
  }
}

.like-icon {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: 0.1s fill linear;
}

.core {
  transition: 0.3s 0.03s fill linear;
}

.main-body {
  transition: 0.3s fill linear;
}

.like-icon:hover .core {
  fill: var(--color-accent);
  transition: 0.3s fill linear;
}

.like-icon:hover .main-body {
  fill: var(--color-accent);
  transition: 0.3s 0.05s fill linear;
}

.like-icon:active .core {
  fill: var(--color-icon-active);
  transition: 0.3s fill linear;
}

.like-icon:active .main-body {
  fill: var(--color-icon-active);
  transition: 0.3s 0.05s fill linear;
}

.like-icon.is-liked {
  transform-origin: center;
  animation: scaling 0.3s 0.1s ease-in 1;
}

.like-icon.is-liked .core {
  fill: var(--color-icon-active);
  transition: 0.3s fill linear;
}

.like-icon.is-liked .main-body {
  fill: var(--color-icon-active);
  transition: 0.3s 0.05s fill linear;
}

.like-icon.is-liked .contour {
  fill: var(--color-icon-active);
  transition: 0.3s 0.06s fill linear;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparking 0.3s 0.3s ease-in 1;
}

.brightness {
  filter: brightness(200%);
}

.contrast {
  filter: contrast(20%);
}

.blur {
  filter: blur(3.2rem);
}

.opacity {
  filter: opacity(0.8);
}

.grayscale {
  filter: grayscale(0.8);
}

.saturate {
  filter: saturate(158%);
}

.hue-rotate {
  filter: hue-rotate(-90deg);
}

.mix {
  filter: sepia(1) contrast(2) brightness(200%);
}
